name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        runner: [ubuntu-latest, windows-latest, macos-latest]

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Task
        uses: go-task/setup-task@v1

      - name: Install dependencies
        run: task install

      - name: Lint codebase
        run: task lint

      - name: Run unit tests
        run: task test:unit

      - name: Run commandline test
        run: task run -- .github/workflows/ci.yml

      - name: Test package installation
        shell: bash
        if: matrix.runner != 'windows-latest'
        run: ./scripts/test-install.sh

      - name: Test package installation (Windows)
        if: matrix.runner == 'windows-latest'
        shell: pwsh
        run: ./scripts/test-install.ps1

      - name: Upload coverage to Coveralls
        if: matrix.runner == 'ubuntu-latest'
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage/lcov.info
